.bgColor{
    background-color: rgb(29, 209, 0) !important;
}
.bgColorRed{
    background-color: rgb(209, 125, 0) !important;
}
.seat-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}